
<app-intro></app-intro>
<!-- to top -->
<div class="uk-align-right">
<a href="#" uk-totop uk-scroll ></a>
</div>




<!-- FOOTER -->
<footer> 
    <div class="container-fluid ">
      <div class="row text-center">
        <div class="col-md-4 col-sm-12 col-12">
          <h3>Contact Us  </h3>
          <br>
          <h4 >Our address and contact info here.</h4>
  
        </div>
        <div class="col-md-4 col-sm-12 col-12 find-us">
          <h3>Find us</h3>
          <a href="#" class=" footericon"><i class="fab fa-facebook"></i></a>
          <a href="#" class=" footericon"><i class="fab fa-twitter"></i></a>
          <a href="#" class=" footericon"><i class="fab fa-google"></i></a>
          <a href="#" class=" footericon"><i class="fab fa-linkedin"></i></a>
          <a href="#" class=" footericon"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <p>How To Buy</p>
        </div>
      </div>
    </div>
  </footer>
