.uk-container-small {
    margin:  auto auto;
}
@media all and (max-width: 400px) {
.tab-content {
    max-height: 400px;
    margin-bottom: 10px;
}
}
.sidebar-box {
    max-height: 500px;
    position: relative;
    padding: 20px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
}
.sidebar-box .read-more { 
    position: absolute; 
    bottom: 0; left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 20px 0 20px 0; 
    
    /* "transparent" only works here because == rgba(0,0,0,0) */ 
    background-image: linear-gradient(to bottom, white, Gainsboro);
        background-image: linear-gradient(to bottom, white, Gainsboro);
}
.read-more .button {
    color: #f4511e;
    text-decoration: none;
}

.btn-price{
    background-color: #f4511e;
    color: azure;
    border: none;
    border-radius: 4px;
}
.btn-price:hover {
    background-color: #FF4500
}
.text-dan{
    color: Red;
}
.text-des{
    color: DimGray;
}
.badge-primary {
    background-color: #f4511e;
}