.uk-container-small {
  margin: 10px auto 0px;
  padding: 10px 25px ;
}

.slide-product {
  height: 500px;
  max-width: 100%;
}

.product-info p {
  white-space: nowrap;
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  
}


@media all and (max-width: 600px){
  .slide-product {
    max-width: 50%;
    max-height: 350px;
  }
  .product-image img {
    height: 200px;
  }
  .uk-card{
    height: 350px;
  }
  
}
@media all and (min-width: 920px){ 
  .uk-card{
    height: 500px;
  }
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10pt;
  
  
  transition: all 0.5s;
  cursor: pointer;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2295';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.uk-card-title  {
  margin-bottom: 10px;
}

.savings-splat {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  padding: 0.3rem;
  z-index: 1;
  color: white;
  font-weight: bold;
  pointer-events: none;
  font-size: 1.2rem;
  text-align: left;
}

.uk-card-media-top {
  position: relative;
}

.savings-splat:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 6rem 6rem 0 0;
  border-color: #ff0072 transparent transparent transparent;
  z-index: -1;
}