<div class="uk-container-small intro">
    <div class="uk-card uk-card-default uk-card-body text-center">
  <p>Welcome to Book Depository! We have more than 18 million titles and free delivery worldwide to 
      <a href="#">over 100 countries</a>
  </p>
  <p>Looking for your new favourite book? Browse some of our top categories such as <a href="/category/2455/Childrens-Books">Children's Books</a>, <a href="/category/333/Fiction">Fiction</a>, <a href="/category/2633/Graphic-Novels-Anime-and-Manga">Graphic Novels, Anime &amp; Manga</a>, <a href="/category/2858/Food-and-Drink">Food &amp; Drink books</a>, <a href="/category/2942/Crafts-and-Hobbies">Crafts &amp; Hobbies</a>, <a href="/category/2/Art-and-Photography">Art &amp; Photography</a>, <a href="/category/213/Biography">Biography</a>, and <a href="/category/2616/Crime-and-Thriller">Crime &amp; Thriller</a>. Our editors have created lovely features for you to explore: <a href="/adult-colouring-books">Adult colouring books</a>, <a href="/harry-potter">Harry Potter</a>, <a href="/roald-dahl">Roald Dahl</a>, <a href="/books-and-movies">Books on screen</a>, <a href="/Man-Booker-Prize">Man Booker Prize winners</a>, <a href="/lego">LEGO</a>, <a href="/minecraft">Minecraft</a> and more. </p>
</div>
</div>
