/* login */
.text-truncate{
    position: relative;
}
.fas .fa-user{
    position: absolute;
}
.fas .fa-unlock{
    position: absolute;
}
.btn-add{
    background-color: #f4511e;
    color: azure;
}
.btn-add:hover{
    background-color: OrangeRed;
    
}
.name{
    color: #f4511e;
}